@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');


* {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
}

.theme-light {
    --color-primary: #ffffff;
    --color-secondary: #0060df;
    --font-color: #000000;
 }
 .theme-dark {
    --color-primary: #1b1b1b;
    --color-secondary: #141414;
    --font-color: #ffffff;
 }

body {
    background-color: var(--color-primary);
    font-family: sans-serif;
    color: var(--font-color);
    font-size: 200%;
}

header {
    font-size: 10px;
    padding: 10px;
    margin: 10px;
}

header > h1 {
    font-family: 'Roboto Mono', monospace;
}

header > h1::after {
    animation: blink .7s infinite;
    content: "|";
    margin-left: 5px;
    opacity: 1;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

main, footer {
    margin: auto;
    margin-top: 5%;
    width: 50%;
    padding: 10px;
    text-align: center;
}

article > h1 {
    font-size: 23px;
    margin-bottom: 20px;
    font-weight: 500;
}

article > p {
    font-family: 'Roboto Condensed', sans-serif;
    max-width: 500px;
    margin: auto;
    font-size: 18px;
    font-weight: lighter;
}

#image-button {
    background-image: url( '../images/avatar-100px.png' );
    background-size: 100px 103px;
    height: 103px;  
    width: 104px;
    border-radius: 50%;
}

aside {
    margin-top: 8%;
}

aside > picture {
    display: inline-block;
    margin-left: 8px;
    margin-right: 8px;
}

footer {
    font-size: 1.6vh;
    margin: auto;
    text-align: center;  
}