@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');


* {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
}

/*
Dark and light theme and their respective contents
--------------------------------------------------
*/
.theme-light {
    --color-primary: #ffffff;
    --color-secondary: #0060df;
    --font-color: #000000;
    --URLFacebook: url("../images/facebook.png");
    --URLInstagram: url("../images/instagram.png");
    --URLLinkedin: url("../images/linkedin.png");
    --URLGithub: url("../images/github.png");
    --URLAvatar: url("../images/avatar-white.png");
    --URLAvatarInverse: url("../images/avatar-gray.png");
}

.theme-dark {
    --color-primary: #1b1b1b;
    --color-secondary: #141414;
    --font-color: #ffffff;
    --URLFacebook: url("../images/facebook-white.png");
    --URLInstagram: url("../images/instagram-white.png");
    --URLLinkedin: url("../images/linkedin-white.png");
    --URLGithub: url("../images/github-white.png");
    --URLAvatar: url("../images/avatar-gray.png");
    --URLAvatarInverse: url("../images/avatar-white.png");
}

body {
    background-color: var(--color-primary);
    color: var(--font-color);
    font-size: 200%;
}

header {
    font-size: 10px;
    padding: 10px;
    margin: 10px;
}

header > h1 {
    font-family: 'Roboto Mono', monospace;
}

header > h1::after {
    animation: blink .7s infinite;
    content: "|";
    margin-left: 5px;
    opacity: 1;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

main, footer {
    margin: auto;
    margin-top: 5%;
    width: 75%;
    padding: 10px;
    text-align: center;
}

#image-button {
    background-image: var(--URLAvatar);
    background-size: 93px 93px;
    height: 93px;  
    width: 95px;
    border-radius: 35%;
    border: 1.8px solid #222222;
    margin-bottom: 25px;
    opacity: 0.9;
}

#image-button:hover {
    cursor: pointer; 
    background-image: var(--URLAvatarInverse);
    transition: .25s ease-out;
    opacity: 1;
    transform: scale(1.025);
}

article > h1 {
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 700;
}

article > p {
    font-family: 'Roboto Condensed', sans-serif;
    max-width: 500px;
    margin: auto;
    font-size: 18px;
    font-weight: lighter;
}

aside {
    margin-top: 8%;
}

aside > picture {
    display: inline-block;
    margin-left: 8px;
    margin-right: 8px;
}

#facebookLogo {
    content: var(--URLFacebook);
    opacity: 0.8;
}

#instagramLogo {
    content: var(--URLInstagram);
    opacity: 0.8;
}

#linkedinLogo {
    content: var(--URLLinkedin);
    opacity: 0.8;
}

#githubLogo {
    content: var(--URLGithub);
    opacity: 0.8;
}

#facebookLogo:hover,
#instagramLogo:hover, 
#linkedinLogo:hover,
#githubLogo:hover {
    opacity: 1;
    transition: .25s ease-out;
    transform: scale(1.04);
}

footer {
    font-size: 1.6vh;
    position: absolute;
    padding: 0;
    bottom: 0;
    width: 100%;
    height:40px;
}